@import url('https://fonts.googleapis.com/css2?family=Garamond:wght@400;700&display=swap');

body {
    font-family: 'Garamond', serif;
    margin: 0;
    padding-bottom: 60px; /* Ensure there's space for the fixed buttons */
    background: #f9f9f9; /* Light background for book-like appearance */
    color: #333; /* Dark text for readability */
}

#sentence-list {
    max-width: 800px; /* Narrower width for book-like appearance */
    margin: 40px auto; /* Center the div with top and bottom margin */
    padding: 20px;
    background: white; /* White background for book pages */
    box-shadow: 0 0 15px rgba(0,0,0,0.1); /* Light shadow for a raised effect */
    border-radius: 10px; /* Rounded corners for a softer look */
}

.sentence-pair-container {
    margin-bottom: 20px;
    padding: 10px;
    position: relative;
}

.sentence-pair-container:nth-child(even) {
    background-color: #ffffe0; /* Light yellow color for even rows */
}

.sentence-pair {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
    transition: all 0.3s ease; /* Updated to transition all properties */
    align-items: center;
}

.sentence {
    flex: 1 1 45%;
    padding: 10px;
    font-size: 18px; /* Default font size for sentences */ 
    line-height: 1.6; /* Increase line height for readability */
}

@media (max-width: 600px) {
    .sentence {
        flex: 1 1 100%;
    }
}

.highlight-english {
    color: #ae4141;
    font-weight: bold;
    font-size: 22px; /* Updated font size for highlighted sentences */
}

.highlight-bulgarian {
    color: #1f1fde;
    font-weight: bold;
    font-size: 22px; /* Updated font size for highlighted sentences */
}

.title-english, .title-bulgarian {
    font-size: 28px; /* Updated font size for titles */
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center; /* Center align titles */
}

#start-button {
    display: block;
    margin: 20px auto; /* Center the button with margin */
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background: #4CAF50; /* Green background for start button */
    color: white; /* White text for start button */
    border: none;
    border-radius: 5px; /* Rounded corners for the button */
    box-shadow: 0 2px 5px rgba(0,0,0,0.2); /* Light shadow for the button */
}

.play-button {
    font-size: 20px;
    cursor: pointer;
    margin-left: 10px;
    color: #4CAF50; /* Green color for play button */
}

.controls-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.bottom-buttons {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: #f1f1f1;
    padding: 10px 0;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    box-shadow: 0 -2px 5px rgba(0,0,0,0.2);
}

.bottom-buttons button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 12px;
    background: #4CAF50; /* Green background for buttons */
    color: white; /* White text for buttons */
    border: none;
    border-radius: 5px; /* Rounded corners for buttons */
    box-shadow: 0 2px 5px rgba(0,0,0,0.2); /* Light shadow for buttons */
}

.bottom-buttons a {
    text-decoration: none;
}

button.active-button.active-button {
    background-color: skyblue; /* Sky blue background for active button */
}

@media (max-width: 600px) {
    .bottom-buttons a:nth-last-child(1) {
        width: 100%;
        text-align: center;
        order: 1;
    }
}

